<h1>Ingredients</h1>

<%= link_to 'New Ingredient', new_ingredient_path %>
<br>
<br>
<br>
<br>


<table>
<% @ingredients.each do |ingredient| %>
<tr>
    <td><%= link_to ingredient.name, ingredient_path(ingredient) %></td> 
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</tr>
<% end %>
</table>

<hr>
<%= link_to 'Ingredients', ingredients_path %> |
<%= link_to 'Recipes', recipes_path %>

